footer{
    grid-column: span 8;
    background-color: #782221;

}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer img{
    height: 4rem;
    padding: 1rem;
}
footer img:hover{
    opacity: 0.8;
}
footer p{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}